<?xml version="1.0" encoding="UTF-8"?>
 <!-- 级别低的也会记录级别高的 -->
 <!--日志级别以及优先级排序: OFF > FATAL  > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
 <!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
 <!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
 
 <!-- <configuration status="DEBUG" monitorInterval="30"> -->
 <configuration status="WARN">
    <properties>
    	<!-- 项目名 -->
        <property name="appName">spring-mybatis-log4j2</property>
        <!-- 不同环境日志的文件夹名 -->
        <property name="LOG_HOME_WINDOWS">D:/logs/${appName}</property>
        <property name="LOG_HOME_LINUX">/home/zero/logs/${appName}</property>
        <!-- 不同级别日志文件路径 -->
        <property name="infofilepath">${LOG_HOME_WINDOWS}/info.log</property>
        <property name="warnfilepath">${LOG_HOME_WINDOWS}/warn.log</property>
        <property name="errorfilepath">${LOG_HOME_WINDOWS}/error.log</property>
        <!--输出日志的格式-->
        <property name="layout1">|study| [%-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss.SSS}] %msg ([%c:%line])%n</property>
        <property name="layout2">|study| %d{yyyy/MM/dd HH:mm:ss} [%t] %-5level %logger{36} %l %M - %msg%xEx%n</property>
        <property name="layout3">|study| %d{yyyy/MM/dd HH:mm:ss} %-5level %class{36} %L %M - %msg%xEx%n</property>
     	<property name="level">DEBUG</property>
     </properties>
     
     <!--先定义所有的appender-->
     <appenders>
     	 <!--控制台的配置-->
         <console name="Console" target="SYSTEM_OUT">
             <PatternLayout pattern="${layout1}"/>
         </console>
         
    	 <!--文件会打印出所有信息,当append="false"log每次运行程序会清空上一次的记录-->
    	 <File name="log" fileName="log/test.log" append="true">
        	<PatternLayout pattern="${layout1}"/>
     	 </File>
     	 
     	 <!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
         <RollingFile name="RollingFileInfo" fileName="${infofilepath}"
                      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
             <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->        
             <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
             <PatternLayout pattern="${layout1}"/>
             <Policies>
                 <TimeBasedTriggeringPolicy/>
                 <!-- 文件达到一定大小,新建-->
                 <SizeBasedTriggeringPolicy size="100 MB"/>
             </Policies>
         </RollingFile>
         
         <RollingFile name="RollingFileWarn" fileName="${warnfilepath}"
                      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
             <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
             <PatternLayout pattern="${layout1}"/>
             <Policies>
                 <TimeBasedTriggeringPolicy/>
                 <!-- 日志文件大小 -->
                 <SizeBasedTriggeringPolicy size="100 MB"/>
             </Policies>
         	 <!--则默认为最多同一文件夹下7个文件，这里设置了20 -->
             <DefaultRolloverStrategy max="20"/>
         </RollingFile>
         
         <RollingFile name="RollingFileError" fileName="${errorfilepath}"
                      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
             <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
             <PatternLayout pattern="${layout1}"/>
             <Policies>
                 <TimeBasedTriggeringPolicy/>
                 <SizeBasedTriggeringPolicy size="100 MB"/>
             </Policies>
         </RollingFile>
     </appenders><!-- 输出端 --><!-- 格式器 -->
     
     <!--然后定义logger,只有定义了logger并引入的appender,appender才会生效-->
     <loggers><!-- 日志记录器 -->
         <!--additivity="false"-->
          <logger name="org.springframework" level="DEBUG" additivity="false">
         	<appender-ref ref="Console"/>
         </logger>
          <logger name="org.quartz" level="DEBUG" additivity="false">
         	<appender-ref ref="Console"/>
         </logger>
          
         <logger name="org.mybatis" level="DEBUG">
         	<appender-ref ref="Console"/>
         </logger>
         
         <Root level="${level}">
             <appender-ref ref="Console"/>
             <!-- <appender-ref ref="RollingFileInfo"/>-->
             <!-- <appender-ref ref="RollingFileWarn"/> -->
             <!-- <appender-ref ref="RollingFileError"/>-->
         </Root>
     </loggers>
 </configuration>