<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- redis连接池信息 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!--最大/小空闲数 -->
		<property name="maxIdle" value="${redis.pool.maxIdle}" />
		<property name="minIdle" value="${redis.pool.minIdle}" />
		<!--最大连接数 -->
		<property name="maxTotal" value="${redis.pool.maxTotal}" />
		<!--最大等待时间 -->
		<property name="timeBetweenEvictionRunsMillis" value="${redis.pool.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${redis.pool.minEvictableIdleTimeMillis}" />
		<property name="maxWaitMillis" value="20000" />
	</bean>
	
	<!-- 为连接池配置工厂模型 -->
	<bean id="connectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<!--Redis服务地址 -->
		<property name="hostName" value="${redis.host}" />
		<!--端口号 -->
		<property name="port" value="${redis.port}" />
		<!--如果有密码则需要配置密码 -->
		<!--<property name="password" value="${redis.password}"/> -->
		<!--连接池配置 -->
		<property name="poolConfig" ref="poolConfig" />
	</bean>

	<!-- 用于 Java 与 JSON 的序列化和反序列化 -->
    <bean id="jackson2JsonRedisSerializer" class="org.springframework.data.redis.serializer.GenericJackson2JsonRedisSerializer"/>
    <!-- 字符串的序列化 -->
    <bean id="stringRedisSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
	
	<!-- 配置RedisTemplate -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
      <property name="connectionFactory" ref="connectionFactory" />
      <property name="keySerializer" ref="stringRedisSerializer" />
    </bean>
      
    <!-- 所有键与值都是 String 类型的 RedisTemplate -->
	<bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate" >
      <property name="connectionFactory" ref="connectionFactory" />
	</bean>
	
</beans>
